<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
<body class="com">
    <a href='@Url.Action("Habitacion", new {NumSala=1})'><img class="flecha1" src="~/img/flechaph.png" alt="flecha"></a>
    <a href='@Url.Action("Habitacion", new {NumSala=2})'><img class="flecha2" src="~/img/flechaph.png" alt="flecha"></a>
    <a href='@Url.Action("Habitacion", new {NumSala=3})'><img class="flecha3" src="~/img/flechaph der.png" alt="flecha"></a>
    <a href='@Url.Action("Habitacion", new {NumSala=4})'><img class="flecha4" src="~/img/flechaph der.png" alt="flecha"></a>
    <a href='@Url.Action("Habitacion", new {NumSala=5})'><img class="flecha5" src="~/img/flecha top.png" alt="flecha"></a>
    <img class="exit" src="~/img/exit.png" alt="exit">
    <img class="num1" src="~/img/1.png" alt="num1">
    <img class="num2" src="~/img/2.png" alt="num2">
    <img class="num3" src="~/img/3.png" alt="num3">
    <img class="num4" src="~/img/4.png" alt="num4">
</body>
</html>